services:
  api:
    build: .
    container_name: forge_api
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:16
    container_name: forge_postgres
    environment:
      POSTGRES_USER: forge_user
      POSTGRES_PASSWORD: forge_password
      POSTGRES_DB: forge_auth
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: forge_redis
    ports:
      - "6379:6379"

volumes:
  pg_data:
